<!--
    Author: Laura Petrich
    Visual Servoing Interface
-->

<launch>

    <node pkg="usb_cam" type="usb_cam_node" name="camera">
        <param name="video_device" value="/dev/video0" />
        <param name="framerate" value="15" />
    </node>

    <node pkg="visual_servoing_gui" type="visual_servoing_gui" name="visual_servoing_gui" output="screen"/> 

</launch>